# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Java / Spring Boot
# =========================
.gradle/
build/
out/
*.class
*.jar

# IntelliJ
.idea/
*.iml

# =========================
# React / Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
frontend/build/
frontend/dist/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db